.tableWithBorder {
    border-collapse: collapse;
    width: 100%;
  }
  
  .tableWithBorder th, .tableWithBorder td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .tableWithBorder th {
    background-color: #f2f2f2;
  }
  
  .tableWithBorder tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .tableWithBorder tr:hover {
    background-color: #f1f1f1;
  }
  